In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn.objects as so
from gapminder import gapminder

# Ej 1

## a) 

Ejecutar el siguiente codigo y observar si hay filas con datos faltantes (NaN)

In [67]:
penguins = sns.load_dataset("penguins")

In [68]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

Si hay, ya podemos ver un NaN en 3.

In [69]:
penguins.isnull().values.any()

True

In [70]:
penguins = penguins.dropna()
display(penguins)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [71]:
penguins.shape

(333, 7)

In [72]:
# Consigo el 20%
test = penguins.shape[0] * 20 / 100 

# lo redondeo
test = int(test)
print(test)

# recordar sumar 1 al train, asi no desaprovecho una fila.

66

## b)

### A -> Utilizando un array de Numpy para filtrar

In [73]:
# creo array del mismo tamaño que el database, todos con valor False
train_ind = np.full(penguins.shape[0], False) 

# Cambio los 1ros 80% a True
train_ind[0:penguins.shape[0] - test] = True

np.random.shuffle(train_ind) # Lo guarda el mismo vector

# Selecciono de penguins los que su indice coinciden con que train_ind == True, garantizandome una eleccion al azar de train
penguins_train2 = penguins[train_ind == True]

# Lo mismo pero con False para los de test%
penguins_test2 = penguins[train_ind == False]

In [74]:
display(train_ind)

array([ True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True, False, False,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True, False,  True,  True,  True,
        True, False, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True, False, False,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False,  True, False, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True])

In [75]:
display(penguins_train2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [76]:
display(penguins_test2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,Female
30,Adelie,Dream,39.5,16.7,178.0,3250.0,Female
32,Adelie,Dream,39.5,17.8,188.0,3300.0,Female
...,...,...,...,...,...,...,...
303,Gentoo,Biscoe,50.0,15.9,224.0,5350.0,Male
304,Gentoo,Biscoe,44.9,13.8,212.0,4750.0,Female
310,Gentoo,Biscoe,47.5,15.0,218.0,4950.0,Female
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,Male
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,Male

### B -> train_test_split de sklearn

In [77]:
from sklearn.model_selection import train_test_split
penguins_train, penguin_test = train_test_split(penguins, test_size = 0.2, random_state = 42)

In [78]:
display(penguins_test)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,Female
34,Adelie,Dream,36.4,17.0,195.0,3325.0,Female
37,Adelie,Dream,42.2,18.5,180.0,3550.0,Female
46,Adelie,Dream,41.1,19.0,182.0,3425.0,Male
...,...,...,...,...,...,...,...
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
332,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,Female
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female

In [79]:
display(penguins_train)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
230,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,Female
84,Adelie,Dream,37.3,17.8,191.0,3350.0,Female
303,Gentoo,Biscoe,50.0,15.9,224.0,5350.0,Male
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,Female
29,Adelie,Biscoe,40.5,18.9,180.0,3950.0,Male
...,...,...,...,...,...,...,...
194,Chinstrap,Dream,50.9,19.1,196.0,3550.0,Male
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,Male
112,Adelie,Biscoe,39.7,17.7,193.0,3200.0,Female
277,Gentoo,Biscoe,45.5,15.0,220.0,5000.0,Male
108,Adelie,Biscoe,38.1,17.0,181.0,3175.0,Female

# ERROR: nos estamos comiendo una linea de datos

In [80]:
print(penguins.shape[0])
print(penguins_train.shape[0] + penguins_test.shape[0])

333
332

### Hacer ultima parte de b)

## c )

Crear y ajustar 3 modelos utilizando polinomios de grados 1, 2 y 3

In [ ]:
from sklearn.model_selection import train_test_split
penguins_train, penguin_test = train_test_split(penguins, test_size = 0.2, random_state = 42)