In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
obj = pd.Series([7,4,-5,3])
display(obj)
display(obj.array)
display(obj.index)

0    7
1    4
2   -5
3    3
dtype: int64

<PandasArray>
[7, 4, -5, 3]
Length: 4, dtype: int64

RangeIndex(start=0, stop=4, step=1)

In [3]:
obj2 = pd.Series ([np.pi,0 , -2 ,1.41] , index = [ "d" , "b" , "c" , "a" ])
display ( obj2 )
display ( obj2.array )
display ( obj2.index )

d    3.141593
b    0.000000
c   -2.000000
a    1.410000
dtype: float64

<PandasArray>
[3.141592653589793, 0.0, -2.0, 1.41]
Length: 4, dtype: float64

Index(['d', 'b', 'c', 'a'], dtype='object')

In [4]:
obj3 = obj2 [["a","b"]]
obj3
obj3.index

Index(['a', 'b'], dtype='object')

In [5]:
np.exp(obj2)
obj2 * 3

d    9.424778
b    0.000000
c   -6.000000
a    4.230000
dtype: float64

In [6]:
series1 = pd . Series ([ " a " , " b " , " c " , " b " , " a " , " c " , " c " , " x " ])
series1 . isin ([ " b " , " c " ])

0    False
1     True
2     True
3     True
4    False
5     True
6     True
7    False
dtype: bool

In [7]:
data = {"nombre": ["Rodrigo", "Sergio", "Cristina", "Diana"], "altura": np.array([178, 172, 175, 168]), "peso": np.array([81.2, 76.1, 68.5, 64.0])}
display(data)
pacientes = pd.DataFrame(data).set_index("nombre")
display(pacientes)

{'nombre': ['Rodrigo', 'Sergio', 'Cristina', 'Diana'],
 'altura': array([178, 172, 175, 168]),
 'peso': array([81.2, 76.1, 68.5, 64. ])}

          altura  peso
nombre
Rodrigo      178  81.2
Sergio       172  76.1
Cristina     175  68.5
Diana        168  64.0

In [8]:
pacientes[ "altura" ].Rodrigo

178

In [9]:
from gapminder import gapminder

In [10]:
pip install gapminder

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gapminder in /home/Estudiante/.local/lib/python3.10/site-packages (0.1)
Requirement already satisfied: pandas in /usr/lib/python3/dist-packages (from gapminder) (1.3.5)
Note: you may need to restart the kernel to use updated packages.

In [19]:
#11.
type(gapminder)
# devuelve pandas.core.frame.DataFrame

display(gapminder)
# tiene 6 variables, 4 floats y 2 strings, usa indices del 0 al 1703

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [31]:
#12
gapminder.shape

(1704, 6)

In [27]:
#13
gapminder.country.nunique() #hay datos de 142 paises

142

In [29]:
#14 
gm_sur = gapminder.isin(["Argentina", "Chile", "Uruguay"]).copy()
display(gm_sur)

      country  continent   year  lifeExp    pop  gdpPercap
0       False      False  False    False  False      False
1       False      False  False    False  False      False
2       False      False  False    False  False      False
3       False      False  False    False  False      False
4       False      False  False    False  False      False
...       ...        ...    ...      ...    ...        ...
1699    False      False  False    False  False      False
1700    False      False  False    False  False      False
1701    False      False  False    False  False      False
1702    False      False  False    False  False      False
1703    False      False  False    False  False      False

[1704 rows x 6 columns]

In [48]:
gapminder.groupby("country")["lifeExp"]

In [58]:
gm_sur = gapminder[gapminder["country"].isin(["Argentina", "Chile", "Uruguay"])]

In [ ]:
display(gm_sur)

In [ ]:
gm_sur.groupby("country").size().sum()

In [86]:
gm_argentina = gm_sur[gm_sur["country"].isin(["Argentina"])]
display(gm_argentina)

      country continent  year  lifeExp       pop     gdpPercap
48  Argentina  Americas  1952   62.485  17876956   5911.315053
49  Argentina  Americas  1957   64.399  19610538   6856.856212
50  Argentina  Americas  1962   65.142  21283783   7133.166023
51  Argentina  Americas  1967   65.634  22934225   8052.953021
52  Argentina  Americas  1972   67.065  24779799   9443.038526
53  Argentina  Americas  1977   68.481  26983828  10079.026740
54  Argentina  Americas  1982   69.942  29341374   8997.897412
55  Argentina  Americas  1987   70.774  31620918   9139.671389
56  Argentina  Americas  1992   71.868  33958947   9308.418710
57  Argentina  Americas  1997   73.275  36203463  10967.281950
58  Argentina  Americas  2002   74.340  38331121   8797.640716
59  Argentina  Americas  2007   75.320  40301927  12779.379640

In [88]:
display(gm_argentina.iloc[0])

country        Argentina
continent       Americas
year                1952
lifeExp           62.485
pop             17876956
gdpPercap    5911.315053
Name: 48, dtype: object

In [90]:
display(gm_argentina.loc[59])

country        Argentina
continent       Americas
year                2007
lifeExp            75.32
pop             40301927
gdpPercap    12779.37964
Name: 59, dtype: object

In [91]:
#15
gm_sur.index

Int64Index([  48,   49,   50,   51,   52,   53,   54,   55,   56,   57,   58,
              59,  276,  277,  278,  279,  280,  281,  282,  283,  284,  285,
             286,  287, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628,
            1629, 1630, 1631],
           dtype='int64')